* {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: #333;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

p.Titulito {
    color: #666;
    font-weight: bold;
}

th {
    color: white;
    background-color: #666;
}

tfoot {
    background-color: #ccc;
}

img {
    width:400px;
    height:200px;
}